.navbar {
  height: 200px;
  width: 1441px;
  background-color: rgb(169, 44, 169);
  display: flex;
}
.header {
  font-size: 25px;
  color: black;
  padding-inline: 80px;
  font-weight: 600;
}
.icon {
  transform: translate(10px, 45px);
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: -20px;
  font-size: 15px;
  padding: 7px;
}
#h1 {
  transform: translate(35px, 15px);
  color: white;
}
.icon-1 {
  padding-inline: 300px;
  margin-top: -10px;
  color: white;
}
.search {
  height: 40px;
  width: 180px;
  text-align: center;
  background-color: rgb(102, 65, 102);
  font-size: 20px;
  border: none;
}
.search-bar {
  margin-top: 40px;
}
.search-icon {
  margin-top: -28px;
  padding-inline: 20px;
  color: white;
}
.pipe {
  color: white;
  font-size: 35px;
  padding-inline: 200px;
  margin-top: -35px;
}
.bell {
  font-size: 35px;
  padding-inline: 250px;
  margin-top: -35px;
  color: white;
}
.badge {
  margin-left: 275px;
  transform: translate(-10px, -55px);
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  color: black;
  padding-left: 5px;
}
.img-1 {
  transform: translate(400px, -75px);
}
.imges {
  border-radius: 50%;
}
.img-2 {
  transform: translate(-750px, -80px);
}
.imges-2 {
  border-radius: 50%;
}
.contain {
  transform: translate(-630px, -170px);
  color: white;
}
.nav ul {
  list-style-type: none;
  font-size: 30px;
}
.nav ul li {
  padding: 20px;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav {
  width: 330px;
  transform: translate(-770px, -80px);
  text-decoration: none;
}
.nav ul li:hover {
  color: rgb(201, 8, 40);
  background-color: rgb(231, 222, 223);
}
.sub-li {
  font-size: 30px;
}
.sub-li:hover {
  color: rgb(222, 8, 44);
  background-color: pink;
}
#emoji{
  color: rgb(237, 75, 102);
}
.dropdown{
  display: none;
}
ul li:hover .dropdown{
  display: block;
  margin-top: 0.27cm;
  background-color: white;
  margin-left: -50px;
  width: 380px;
}
.dropdown ul li{
  display: block;
}
.dropdown ul{
  margin-left: 10px;
}
#icons-1{
  padding-left: 60px;
}
#icons-2{
  padding-left: 90px;
}
#icons-3{
  padding-left: 95px;
}
#icons-4{
  padding-left: 18px;
}
#icons-5{
  padding-left: 25px;
}
#icons-6{
  padding-left: 100px;
}
#icons-7{
  padding-left: 115px;
}
#icons-8{
  padding-left: 100px;
}
#icons-9{
  padding-left: 90px;
}
#icons-10{
  padding-left: 5px;
}
